@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/aleo/aleo_regular_macroman/Aleo-Regular-webfont.eot?#iefix') format("embedded-opentype"),url('../fonts/aleo/aleo_regular_macroman/Aleo-Regular-webfont.woff') format("woff"),url('../fonts/aleo/aleo_regular_macroman/Aleo-Regular-webfont.ttf') format("truetype"),url('../fonts/aleo/aleo_regular_macroman/Aleo-Regular-webfont.svg#aleobold') format("svg");
    font-weight: 400;
    font-style: normal;
}

#overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 999;
}

.caps {
    text-transform: uppercase;
}

#govHeader {
    color: #fff;
    background-color: #003da5;
    padding: .75em;
    a {
        color: #fff;
    }
    #search {
        text-align: right;
        i {
            font-size: 1.5em;
            margin-top: .25em;
        }
    }
    #govLink {
        font-size: 1.5em;
        padding-left: 5px;
    }
}

#deptHeader {
    background-image: url('../img/back_sm.gif');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: .75em;
    h1 {
        font-weight: 700;
        font-family: 'Seattle Text', 'Open Sans', 'Arial';
    }
    h3 {
        color: #fff;
        margin-top: 5px;
        font-family: 'Seattle Text', 'Open Sans', 'Arial';
    }
    #navIcons {
        font-size: 2em;
        color: #fff;
    }
    .fa-home {
        color: #fff;
        font-size: 2.5em;
    }
    #q {
        margin: .5em 0 1em 0;
        input[type=text] {
            height: 3.25em;
            border: 1px solid #666;
        }
        #searchButton {
            border-radius: 0;
            background-color: #666;
            color: #fff;
            border-color: #666;
            height: 3.25em;
            width: 3.25em;
            &:hover {
                background-color: #090909;
                border-color: #090909;
            }
        }
        .fa-search {
            color: #fff;
            font-size: 1.75em;
            margin: -1px 0 0 -5px;
        }
    }
}

#navIcosvg {
    color: #fff;
}

#main {
    #nav-xs {
        margin-top: 1em;
        li {
            background-color: #d5dfe3;
            + li {
                margin-top: 4px;
            }
        }
        a {
            color: #000;
            padding: 15px;

            &.pmb{
                background: #132cc5;
                color: #fff;
            }
            &.sue {
                background: #286ee5;
                color: #fff;
            }
        }
        ul + ul {
            margin-top: 4px;
        }
        ul>li>ul{
            display:none;
        }
        ul>li>ul>li>a{
        background:#fff;
        padding-left:30px;
        }

    }
    #alert #redbox {
        padding: 1.5em;
        margin-top: 1em;
        border: 2px solid #e6002e;
        background-color: #fff;
    }
}

#promo,
.promo {
    img {
        width: 100%;
        height: auto;
    }
    .item {
        margin-top: 3em;
        h4 {
            font-size: 125%;
        }
    }
    .video:before {
        font-family: 'fontAwesome';
        font-size: 40px;
        content: '\f04b';
        color: #fff;
        position: absolute;
        left: 50%;
        padding-top: 30%;
        margin-left: -15px;
        margin-top:-20px;
        width: 0; 
        height: 0; 
        text-shadow: 0px 0px 10px #000;
        opacity:.85;
    }
    h4 {
        color: #4585f2;
    }
    a {
        display: block;

        &:hover {
            text-decoration: none;
            opacity: .85;
        }
        > p {
            color: #000;
        }
    }

}

#footer {
    margin-top: 1.5em;
    background-color: #2b2b2b;
    width: 100%;
    border-top: .25em solid #c8c8c8;
    line-height: 1.75em;
    font-size: 125%;
    h4 {
        color: #e2e2e2;
        font-weight: 700;
    }
    h5 {
        color: #fff;
        font-size: 1.15em;
        margin-top: 0;
    }
    a {
        color: #fff;
        padding: .3em 0;
        &:hover {
            text-decoration: none;
        }
    }
    ul {
        list-style: none;
        margin: 2em 0;
        padding: 0;
        line-height: 2em;
    }
    li {
        border-bottom: 1px solid #8e8e8e;
        a {
            display: block;
            padding-left: 1em;
        }
    }
    #address {
        color: #e2e2e2;
        line-height: 1.5em;
        margin-left: -15px;
    }
    #branding img {
        margin-bottom: 1em;
    }
    #socialMedia p {
        margin-bottom: 1em;
    }
    .footerCat:last-child li:last-child {
        border:none;
    }
    #showTranslate{
        position:absolute;
    }
    #gTranslate {
        height:4em;
        margin-left:1em;

        a {
            color: #000;
            padding: 0px;
            display: inline !important;
        }
    }
}

#hamNavCont {
    display: none;
    position: absolute;
    top: 3.5em;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#hamNav {
    font-size: 1.5em;
    line-height: 3em;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 1.5em;
    list-style: none;
    background-color: rgba(0,108,146,1);
    ul {
        list-style: none;
        background-color: rgba(0,108,146,1);
    }
    > li {
        > a {
            text-transform: capitalize;
            margin: 0 1em;
            > i {
                margin-top: 1em;
            }
        }
        + li {
            border-top: 1px solid rgba(255,255,255,0.25);
        }
        > ul {
            display: none;
            background-color: rgba(0,52,89,0.75);
            line-height: 2em;
        }
    }
    .dismiss {
        margin: 1em;
        border-top: none;
        span {
            position: absolute;
            top: .75em;
            right: 1.1em;
        }
    }
    a {
        color: #fff;
        display: block;
        text-decoration: none;
    }
}

@media(min-width: 544px) {
    #main #nav-xs {
        a {
            color: #000;
            padding: 15px 8px;
        }
    }
    #promo .item,
    .promo .item {
        width: 33%;
        float: left;
    }
}

@media(min-width: 768px) {
    #govHeader {
        padding: 0;
    }
    #deptHeader {
        background-image: none;
        position: relative;
        margin-top: 1em;
        h1 {
            margin-top: -.2em;
            margin-bottom: -.3em;
        }
        h4 {
            color: #666;
        }
        > div {
            position: relative;
        }
        #director {
            margin-left: 15px;
        }
        #primaryNav {
            margin-left: -3em;
            margin-top: 1.5em;
            ul {
                list-style: none;
                margin-bottom: 0;
            }
            li {
                float: left;
            }
            a {
                width: 10.857em;
                height: 3.7em;
                padding: .5em .75em .25em 1em;
                font-weight: 700;
                border-left: .1em solid #c2c2c2;
                color: #000;
                display: block;
                text-decoration: none;

                &:hover,
                &:active,
                &.active{
                    background:#ccc;
                }
            }
            > ul > li {
                &:last-child a {
                    width: 10em;
                    padding-right: 0;
                }
                &:nth-child(1) a {
                    width: 7.14em;
                    border: none;
                }
            }
        }
    }
    #main {
        background-image: url('../img/CedarRiverWatershed_Panorama.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 33.7em;
        width: 100%;
        position: relative;
        #ebill {
            position: absolute;
            bottom: 11em;
            color: #fff;
            a {
                color: #fff;
            }
            > div {
                padding: 1.5em;
            }
            #signup {
                color: #fff;
                background-color: #286ee5;
                h1 {
                    font-family: 'aleoregular', 'Open Sans', 'sans-serif';
                }
                h2 {
                    font-family: 'aleoregular', 'Open Sans', 'sans-serif';
                }
            }
        }
        #alert {
            position: absolute;
            padding: 0;
            margin-left: 15px;
            margin-bottom: -1.5em;
            #signup {
                width: 50%;
                color: #fff;
                float: left;
                font-size: 1em;
                padding: 1.2em 1em;
                margin-top: 2em;
                background-color: #003450;
                padding: 1.2em;
                a {
                    display: block;
                    color: #fff;
                    font-size: 1.2em;
                }
            }
            #pay {
                width: 50%;
                color: #fff;
                float: left;
                font-size: 1em;
                padding: 1.2em 1em;
                margin-top: 2em;
            }
            p {
                margin-bottom: 1.5em;
            }
        }
        a {
            text-decoration: none;
        }
        #pay {
            color: #fff;
            background-color: #1d3aed;
            border-top: 1px solid #fff;
            a {
                display: block;
                color: #fff;
                font-size: 1.2em;
            }
            &:hover {
                background-color: #132cc5;
            }
        }
        #navbar {
            z-index: 999;
            position: absolute;
            bottom: 0;
            margin-left: 15px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li {
                float: left;
            }
            a {
                display: block;
                padding: .75em 1em;
            }
            #services {
                float: left;
                background-color: #191919;
                margin: 1em 0;
                width: 100%;
                a {
                    color: #fff;
                    text-decoration: none;
                }
                > li {
                    &:nth-child(5) {
                        width: 6.857em;
                    }
                    &:nth-child(6) {
                        margin-right: 2em;
                    }
                }
            }
            #trans {
                float: left;
                li {
                    background-color: #e6002e;
                    border-right: .143em solid #000;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                }
                #navAcct {
                    width: 12.28em;
                    position: relative;
                    .dropdown-menu {
                        margin: 0;
                        padding: 0;
                        column-count: 2;
                        column-gap: 1px;
                    }
                }
                #navReport {
                    width: 7em;
                    position: relative;
                }
                #navRid {
                    width: 9.4em;
                }
                #navPick {
                    width: 9em;
                    border-right: none;
                }
                #acctDrop {
                    position: absolute;
                }
                #reportDrop {
                    position: absolute;
                }
                .dropdown-menu {
                    border-radius: 0;
                    border-top: none;
                    li {
                        clear: both;
                        width: 100%;
                        border: none;
                    }
                    > li > a {
                        color: #000;
                        &:hover {
                            background-color: #cc0000;
                            color: #000;
                        }
                    }
                }
                > .open {
                    background-color: #fff;
                    a {
                        color: #000;
                    }
                    > ul > li {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

@media(min-width: 992px) {
    #govHeader {
        margin: 0;
    }
    #deptHeader {
        #primaryNav {
            float: right;
            margin-top: -3em;
        }
    }
    #footer li {
        border: none;
    }
    .footerCat:last-child li:last-child {
        padding: 5.25em 0em;
    }
}

@media(min-width: 1200px) {
    #govHeader {
        background-color: #003da5;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10000;
    }
    #utilNav {
        position: relative;
        ul {
            list-style: none;
            padding: 0;
            margin-right: -1.07em;
        }
        li {
            float: left;
            margin-right: .75em;
            padding: .5em;
        }
        a {
            color: #737373;
        }
    }
    #deptHeader {
        margin-top: 7em;
        #primaryNav {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-top: 0;
        }
        #primaryNav > ul {
            float: right;

        }
    }
    #main {
        #ebill {
            bottom: 8em;
        }
        #navbar #services {
            width: auto;
            margin: 0;
        }
    }
    #footer {
        margin-top: 6em;
        font-size: 100%;
        ul {
            margin-top: 0;
        }
        #address {
            margin-left: 0;
        }
        #socialMedia {
            margin-top: 14em;
        }
        li a {
            padding-left: 0;
        }
        #gTranslate {
            margin-left:0px;
        }
    }
    #promo .item,
    .promo .item {
        margin-top: 2.25em;
    }
}

// Kludges for seattle.gov header
#seaGovHeader {
    .container {
        max-width: 1170px !important;
    }
    .navbar-fixed-top {
        position: relative !important;
    }
    #hamNavbar-fixed-top {
        position: static !important;
    }
}

a#skipnav {
    position: absolute;
    left: -999em;
    top: auto;
    overflow: hidden;
    &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}

#searchModal .modal-backdrop {
    z-index: 0 !important;
}