@font-face {
  font-family: 'aleoregular';
  src: url("../fonts/aleo/aleo_regular_macroman/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo_regular_macroman/Aleo-Regular-webfont.woff") format("woff"), url("../fonts/aleo/aleo_regular_macroman/Aleo-Regular-webfont.ttf") format("truetype"), url("../fonts/aleo/aleo_regular_macroman/Aleo-Regular-webfont.svg#aleobold") format("svg");
  font-weight: 400;
  font-style: normal; }
#overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999; }

.caps {
  text-transform: uppercase; }

#govHeader {
  color: #fff;
  background-color: #003da5;
  padding: .75em; }
  #govHeader a {
    color: #fff; }
  #govHeader #search {
    text-align: right; }
    #govHeader #search i {
      font-size: 1.5em;
      margin-top: .25em; }
  #govHeader #govLink {
    font-size: 1.5em;
    padding-left: 5px; }

#deptHeader {
  background-image: url("../img/back_sm.gif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: .75em; }
  #deptHeader h1 {
    font-weight: 700;
    font-family: 'Seattle Text', 'Open Sans', 'Arial'; }
  #deptHeader h3 {
    color: #fff;
    margin-top: 5px;
    font-family: 'Seattle Text', 'Open Sans', 'Arial'; }
  #deptHeader #navIcons {
    font-size: 2em;
    color: #fff; }
  #deptHeader .fa-home {
    color: #fff;
    font-size: 2.5em; }
  #deptHeader #q {
    margin: .5em 0 1em 0; }
    #deptHeader #q input[type=text] {
      height: 3.25em;
      border: 1px solid #666; }
    #deptHeader #q #searchButton {
      border-radius: 0;
      background-color: #666;
      color: #fff;
      border-color: #666;
      height: 3.25em;
      width: 3.25em; }
      #deptHeader #q #searchButton:hover {
        background-color: #090909;
        border-color: #090909; }
    #deptHeader #q .fa-search {
      color: #fff;
      font-size: 1.75em;
      margin: -1px 0 0 -5px; }

#navIcosvg {
  color: #fff; }

#main #nav-xs {
  margin-top: 1em; }
  #main #nav-xs li {
    background-color: #d5dfe3; }
    #main #nav-xs li + li {
      margin-top: 4px; }
  #main #nav-xs a {
    color: #000;
    padding: 15px; }
  #main #nav-xs ul + ul {
    margin-top: 4px; }
#main #alert #redbox {
  padding: 1.5em;
  margin-top: 1em;
  border: 2px solid #e6002e;
  background-color: #fff; }

#promo img,
.promo img {
  width: 100%;
  height: auto; }
#promo .item,
.promo .item {
  margin-top: 3em; }
  #promo .item h4,
  .promo .item h4 {
    font-size: 125%; }
#promo .video:before,
.promo .video:before {
  font-family: 'fontAwesome';
  font-size: 40px;
  content: '\f04b';
  color: #fff;
  position: absolute;
  left: 50%;
  padding-top: 30%;
  margin-left: -15px;
  margin-top: -20px;
  width: 0;
  height: 0;
  text-shadow: 0px 0px 10px #000;
  opacity: .85; }
#promo h4,
.promo h4 {
  color: #4585f2; }
#promo a:hover,
.promo a:hover {
  text-decoration: none;
  opacity: .85; }
#promo a > p,
.promo a > p {
  color: #000; }

#footer {
  margin-top: 1.5em;
  background-color: #686868;
  width: 100%;
  border-top: .25em solid #c8c8c8;
  line-height: 1.75em;
  font-size: 125%; }
  #footer h4 {
    color: #e2e2e2;
    font-weight: 700; }
  #footer h5 {
    color: #fff;
    font-size: 1.15em;
    margin-top: 0; }
  #footer a {
    color: #fff;
    padding: .3em 0; }
    #footer a:hover {
      text-decoration: none; }
  #footer ul {
    list-style: none;
    margin: 2em 0;
    padding: 0;
    line-height: 2em; }
  #footer li {
    border-bottom: 1px solid #8e8e8e; }
    #footer li a {
      display: block;
      padding-left: 1em; }
  #footer #address {
    color: #e2e2e2;
    line-height: 1.5em;
    margin-left: -15px; }
  #footer #branding img {
    margin-bottom: 1em; }
  #footer #socialMedia p {
    margin-bottom: 1em; }

#hamNavCont {
  display: none;
  position: absolute;
  top: 3.5em;
  left: 0;
  width: 100%;
  z-index: 1000; }

#hamNav {
  font-size: 1.5em;
  line-height: 3em;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 1.5em;
  list-style: none;
  background-color: #006c92; }
  #hamNav ul {
    list-style: none;
    background-color: #006c92; }
  #hamNav > li > a {
    text-transform: capitalize;
    margin: 0 1em; }
    #hamNav > li > a > i {
      margin-top: 1em; }
  #hamNav > li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
  #hamNav > li > ul {
    display: none;
    background-color: rgba(0, 52, 89, 0.75);
    line-height: 2em; }
  #hamNav .dismiss {
    margin: 1em;
    border-top: none; }
    #hamNav .dismiss i {
      position: absolute;
      top: -.3em;
      right: 1.1em; }
  #hamNav a {
    color: #fff;
    display: block;
    text-decoration: none; }

@media (min-width: 544px) {
  #main #nav-xs a {
    color: #000;
    padding: 15px 8px; }
  #main #nav-xs ul {
    float: left;
    width: 49%; }
    #main #nav-xs ul + ul {
      margin-top: 0;
      margin-left: 4px; }

  #promo .item,
  .promo .item {
    width: 33%;
    float: left; } }
@media (min-width: 768px) {
  #govHeader {
    padding: 0; }

  #deptHeader {
    background-image: none;
    position: relative;
    margin-top: 1em; }
    #deptHeader h1 {
      margin-top: -.2em;
      margin-bottom: -.3em; }
    #deptHeader h4 {
      color: #999; }
    #deptHeader > div {
      position: relative; }
    #deptHeader #director {
      margin-left: 15px; }
    #deptHeader #primaryNav {
      margin-left: -3em;
      margin-top: 1.5em; }
      #deptHeader #primaryNav ul {
        list-style: none;
        margin-bottom: 0; }
      #deptHeader #primaryNav li {
        float: left; }
      #deptHeader #primaryNav a {
        width: 10.857em;
        height: 3.7em;
        padding: .5em .75em .25em 1em;
        font-weight: 700;
        border-left: .1em solid #c2c2c2;
        color: #000;
        display: block;
        text-decoration: none; }
        #deptHeader #primaryNav a:hover, #deptHeader #primaryNav a:active, #deptHeader #primaryNav a.active {
          background: #ccc; }
      #deptHeader #primaryNav > ul > li:last-child a {
        width: 10em;
        padding-right: 0; }
      #deptHeader #primaryNav > ul > li:nth-child(1) a {
        width: 7.14em;
        border: none; }

  #main {
    background-image: url("../img/CedarRiverWatershed_Panorama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 33.7em;
    width: 100%;
    position: relative; }
    #main #ebill {
      position: absolute;
      bottom: 11em;
      color: #fff; }
      #main #ebill a {
        color: #fff; }
      #main #ebill > div {
        padding: 1.5em; }
      #main #ebill #signup {
        color: #fff;
        background-color: #4585f2; }
        #main #ebill #signup h1 {
          font-family: 'aleoregular', 'Open Sans', 'sans-serif'; }
        #main #ebill #signup h2 {
          font-family: 'aleoregular', 'Open Sans', 'sans-serif'; }
    #main #alert {
      position: absolute;
      padding: 0;
      margin-left: 15px;
      margin-bottom: -1.5em; }
      #main #alert #signup {
        width: 50%;
        color: #fff;
        float: left;
        font-size: 1em;
        padding: 1.2em 1em;
        margin-top: 2em;
        background-color: #4585f2;
        padding: 1.2em; }
        #main #alert #signup a {
          display: block;
          color: #fff;
          font-size: 1.2em; }
      #main #alert #pay {
        width: 50%;
        color: #fff;
        float: left;
        font-size: 1em;
        padding: 1.2em 1em;
        margin-top: 2em; }
      #main #alert p {
        margin-bottom: 1.5em; }
    #main a {
      text-decoration: none; }
    #main #pay {
      color: #fff;
      background-color: #025cf6; }
      #main #pay a {
        display: block;
        color: #fff;
        font-size: 1.2em; }
      #main #pay:hover {
        background-color: #0152dd; }
    #main #navbar {
      z-index: 999;
      position: absolute;
      bottom: 0;
      margin-left: 15px; }
      #main #navbar ul {
        margin: 0;
        padding: 0;
        list-style: none; }
      #main #navbar li {
        float: left; }
      #main #navbar a {
        display: block;
        padding: .75em 1em; }
      #main #navbar #services {
        float: left;
        background-color: #191919;
        margin: 1em 0;
        width: 100%; }
        #main #navbar #services a {
          color: #fff;
          text-decoration: none; }
        #main #navbar #services > li:nth-child(5) {
          width: 6.857em; }
        #main #navbar #services > li:nth-child(6) {
          margin-right: 2em; }
      #main #navbar #trans {
        float: left; }
        #main #navbar #trans li {
          background-color: #e6002e;
          border-right: .143em solid #000; }
        #main #navbar #trans a {
          color: #fff;
          text-decoration: none; }
        #main #navbar #trans #navAcct {
          width: 12.28em;
          position: relative; }
          #main #navbar #trans #navAcct .dropdown-menu {
            margin: 0;
            padding: 0;
            column-count: 2;
            column-gap: 1px; }
        #main #navbar #trans #navReport {
          width: 7em;
          position: relative; }
        #main #navbar #trans #navRid {
          width: 9.4em; }
        #main #navbar #trans #navPick {
          width: 9em;
          border-right: none; }
        #main #navbar #trans #acctDrop {
          position: absolute; }
        #main #navbar #trans #reportDrop {
          position: absolute; }
        #main #navbar #trans .dropdown-menu {
          border-radius: 0;
          border-top: none; }
          #main #navbar #trans .dropdown-menu li {
            clear: both;
            width: 100%;
            border: none; }
          #main #navbar #trans .dropdown-menu > li > a {
            color: #000; }
            #main #navbar #trans .dropdown-menu > li > a:hover {
              background-color: #cc0000;
              color: #000; }
        #main #navbar #trans > .open {
          background-color: #fff; }
          #main #navbar #trans > .open a {
            color: #000; }
          #main #navbar #trans > .open > ul > li {
            background-color: #fff; } }
@media (min-width: 992px) {
  #govHeader {
    margin: 0; }

  #deptHeader #primaryNav {
    float: right;
    margin-top: -3em; }

  #footer li {
    border: none; } }
@media (min-width: 1200px) {
  #govHeader {
    background-color: #003da5;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000; }

  #utilNav {
    position: relative; }
    #utilNav ul {
      list-style: none;
      padding: 0;
      margin-right: -1.07em; }
    #utilNav li {
      float: left;
      margin-right: .75em;
      padding: .5em; }
    #utilNav a {
      color: #737373; }

  #deptHeader {
    margin-top: 7em; }
    #deptHeader #primaryNav {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-top: 0; }
    #deptHeader #primaryNav > ul {
      float: right; }

  #main #ebill {
    bottom: 8em; }
  #main #navbar #services {
    width: auto;
    margin: 0; }

  #footer {
    margin-top: 6em;
    font-size: 100%; }
    #footer ul {
      margin-top: 0; }
    #footer #address {
      margin-left: 0; }
    #footer #socialMedia {
      margin-top: 14em; }
    #footer li a {
      padding-left: 0; }

  #promo .item,
  .promo .item {
    margin-top: 2.25em; } }
#seaGovHeader .container {
  max-width: 1170px !important; }
#seaGovHeader .navbar-fixed-top {
  position: relative !important; }
#seaGovHeader #hamNavbar-fixed-top {
  position: static !important; }

a#skipnav {
  position: absolute;
  left: -999em;
  top: auto;
  overflow: hidden; }
  a#skipnav:focus {
    position: static;
    width: auto;
    height: auto; }

#searchModal .modal-backdrop {
  z-index: 0 !important; }

/*# sourceMappingURL=main.css.map */
